{% extends 'portal/pages/portal_home.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        google.setOnLoadCallback(function(){
            $(function(){
                draw_google_chart({{ chart_requests_over_time|safe }}, 'chart-request-over-time');
                draw_google_chart({{ chart_registrations_over_time|safe }}, 'chart-registrations-over-time');
            });
        });

        function draw_google_chart(chart_data, chart_id) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Day');
            data.addColumn('number', 'Count');
            for (var x=1; x<chart_data.length; x++)
                data.addRow([new Date(chart_data[x][0]), chart_data[x][1]])
            var options = {
              title: '',
              legend: {position: 'none'}
            };
            var chart = new google.visualization.AreaChart(document.getElementById(chart_id));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block left_hand_menu %}
    {% include 'portal/pages/apis/_menu.html' with active='theimpossibleline' %}
{% endblock %}

{% block page %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User registrations</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Total registrations</th>
                                <td>{{ total_registrations }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7" style="border-left: 1px solid #DDD;">
                    <h4>Total registrations over time</h4>
                    <div id="chart-registrations-over-time" style="height: 200px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">API Usage</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Total requests</th>
                                <td>{{ total_api_requests }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7" style="border-left: 1px solid #DDD;">
                    <h4>Total requests over time</h4>
                    <div id="chart-request-over-time" style="height: 200px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}